.container {
  width: 400px;
  padding: 10px;
}

body {
  min-width: 200px;
  max-width: 800px;
  width: auto;
  white-space: normal; /* Allow wrapping */
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#title {
  margin: 0;
}

#version {
  font-size: 14px;
  margin-left: 10px;
}

.box {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  overflow: hidden;
}

.box h2 {
  margin-bottom: 2px;
}

h2 {
  margin-top: 0;
}

.box p {
  margin: 0 0 5px 0;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.box p strong {
  margin-bottom: 2px; /* Add a bottom margin to titles */
}

.no-text-selected {
  font-weight: bold;
  white-space: nowrap;
}

#tabInfo, #linkValues {
  white-space: normal;
}

input[type="text"], .expandable, .scrollable {
  width: 100%;
  box-sizing: border-box;
  margin-top: 5px;
}

.expandable {
  width: 100%;
  box-sizing: border-box;
  margin-top: 5px;
  resize: vertical;
  overflow: auto; /* Add this line to allow scrolling */
}

.scrollable, .expandable {
  margin-top: 2px; /* Reduce the top margin for content below titles */
  margin-bottom: 5px; /* Ensure there's some space before the next title */
}

#tabTitle, #tabURL, #selectedText, .scrollable {
  white-space: nowrap;
  overflow-x: auto;
  max-height: 100px;
  overflow-y: auto;
}

.no-text-selected {
  font-weight: bold;
}
